.run-triangle {
    -fx-fill: green;
}

.stop-square {
    -fx-fill: maroon;
}

.error-label {
    -fx-background-color: mistyrose;
    -fx-border-style: solid;
    -fx-border-color: maroon;
    -fx-padding: 5;
}

.output-pane {
    -fx-font-family: monospace;
    -fx-text-fill: navy;
}

.problems-pane {
    -fx-font-family: monospace;
    -fx-text-fill: maroon;
}

.document-item {
    -fx-padding: 10;
}

.document-item:hover {
    -fx-background-color: skyblue;
    -fx-border-style: solid;
    -fx-border-color: navy;
}

.document-item .title {
    -fx-font-size: 150%;
    -fx-font-weight: bold;
}

.document-item .paper {
    -fx-fill: silver;
}

.document-item .description {
    -fx-font-family: monospaced;
    -fx-font-size: 90%;
    -fx-text-fill: gray;
}

.document-item:hover .title {
    -fx-text-fill: blue;
}

.document-item:hover .description {
    -fx-text-fill: navy;
}

.document-item:hover .paper {
    -fx-fill: white;
}

.notebook .cells {
    -fx-background-color: ivory;
    -fx-padding: 10 65 10 65;
}

.notebook .cell {
    -fx-border-style: solid;
    -fx-border-color: gray;
    -fx-background-color: ivory;
    -fx-padding: 3;
}

.notebook .cell:active {
    -fx-border-style: solid;
    -fx-border-color: navy;
    -fx-background-color: ivory;
    -fx-padding: 3;
}

.notebook .styled-text-area {
    -fx-border-style: solid;
    -fx-border-color: silver;
}

.notebook .output {
    -fx-padding: 10;
    -fx-font-family: monospace;
    -fx-text-fill: navy;
}

.notebook .error {
    -fx-padding: 10;
    -fx-font-family: monospace;
    -fx-text-fill: #CC0000;
}

.navigator-text {
    -fx-background-color: #CCC, #F7F7F7;
    -fx-text-fill: #777;
}

.navigator-text:focused {
    -fx-background-color: #039ED3, white;
    -fx-text-fill: black;
    -fx-faint-focus-color: #039ED322;
}

.lineno {
    -fx-fill: #e8e8e8;
    -fx-background-color: -fx-fill;
    -fx-min-width: 40;
    -fx-pref-width: 40;
    -fx-text-fill: #AAA;
}

.styled-text-area {
    -fx-background-color: white;
}

.styled-text-area .text {
    -fx-fill: black;
}

.styled-text-area .selection {
    -fx-fill: #B5D5FF;
}

.styled-text-area .paragraph-box:has-caret {
    -fx-background-color: #F5F5F5;
}

.styled-text-area .keyword {
    -fx-font-weight: bold;
}

.styled-text-area .semicolon {
    -fx-font-weight: bold;
}

.styled-text-area .paren {
    -fx-font-weight: bold;
}
.styled-text-area .bracket {
    -fx-font-weight: bold;
}
.styled-text-area .brace {
    -fx-font-weight: bold;
}

.styled-text-area .string {
    -fx-fill: #D14;
}

.styled-text-area .comment {
	-fx-fill: #998;
	-fx-font-style: italic;
}
