.run-triangle {
    -fx-fill: green;
}

.stop-square {
    -fx-fill: maroon;
}

.error-label {
    -fx-background-color: mistyrose;
    -fx-border-style: solid;
    -fx-border-color: maroon;
    -fx-padding: 5;
}

.output-pane .content {
    -fx-background-color: #202020;
}

.output-pane {
    -fx-font-family: monospace;
    -fx-text-fill: #F8F8F2;
    -fx-background-color: #202020;
}

.problems-pane {
    -fx-font-family: monospace;
    -fx-text-fill: #FF3333;
    -fx-background-color: #202020;
}

.problems-pane .content {
    -fx-background-color: #202020;
}

.document-item {
    -fx-padding: 10;
}

.document-item:hover {
    -fx-background-color: skyblue;
    -fx-border-style: solid;
    -fx-border-color: navy;
}

.document-item .title {
    -fx-font-size: 150%;
    -fx-font-weight: bold;
}

.document-item .paper {
    -fx-fill: silver;
}

.document-item .description {
    -fx-font-family: monospaced;
    -fx-font-size: 90%;
    -fx-text-fill: gray;
}

.document-item:hover .title {
    -fx-text-fill: blue;
}

.document-item:hover .description {
    -fx-text-fill: navy;
}

.document-item:hover .paper {
    -fx-fill: white;
}


.notebook .cells {
    -fx-background-color: #201C18;
    -fx-padding: 10 65 10 65;
}

.notebook .cell {
    -fx-border-style: solid;
    -fx-border-color: gray;
    -fx-background-color: #37382C;
    -fx-padding: 3;
}

.notebook .cell:active {
    -fx-border-style: solid;
    -fx-border-color: #FFD0D0;
    -fx-background-color: #37382C;
    -fx-padding: 3;
}

.notebook .styled-text-area {
    -fx-border-style: solid;
    -fx-border-color: black;
}

.notebook .output {
    -fx-padding: 10;
    -fx-font-family: monospace;
    -fx-text-fill: white;
}

.notebook .error {
    -fx-padding: 10;
    -fx-font-family: monospace;
    -fx-text-fill: #FF6666;
}

.lineno {
    -fx-fill: #2F3129;
    -fx-background-color: -fx-fill;
    -fx-min-width: 40;
    -fx-pref-width: 40;
    -fx-text-fill: #8F908A;
}

.styled-text-area {
    -fx-background-color: #272822;
}

.styled-text-area .text {
    -fx-fill: #F8F8F2;
}

.styled-text-area .caret {
    -fx-stroke: #F8F8F0;
}

.styled-text-area .selection {
    -fx-fill: #49483E;
}

.styled-text-area .paragraph-box:has-caret {
    -fx-background-color: #202020;
}

.styled-text-area .keyword {
    -fx-fill: #F92672;
    -fx-font-weight: bold;
}

.styled-text-area .semicolon {
    -fx-font-weight: bold;
}

.styled-text-area .paren {
    -fx-font-weight: bold;
}
.styled-text-area .bracket {
    -fx-font-weight: bold;
}
.styled-text-area .brace {
    -fx-font-weight: bold;
}

.styled-text-area .string {
    -fx-fill: #E6DB74;
}

.styled-text-area .comment {
	-fx-fill: #75715E;
}
