.run-triangle {
    -fx-fill: green;
}

.stop-square {
    -fx-fill: maroon;
}

.error-label {
    -fx-background-color: mistyrose;
    -fx-border-style: solid;
    -fx-border-color: maroon;
    -fx-padding: 5;
}

.output-pane {
    -fx-font-family: monospace;
    -fx-text-fill: #F8F8F2;
    -fx-background-color: #272822;
}

.problems-pane {
    -fx-font-family: monospace;
    -fx-text-fill: #FF3333;
    -fx-background-color: #272822;
}

.lineno {
    -fx-fill: #2F3129;
    -fx-background-color: -fx-fill;
    -fx-min-width: 40;
    -fx-pref-width: 40;
    -fx-text-fill: #8F908A;
}

.styled-text-area {
    -fx-background-color: #272822;
}

.styled-text-area .text {
    -fx-fill: #F8F8F2;
}

.styled-text-area .paragraph-box:has-caret {
    -fx-background-color: #202020;
}

.styled-text-area .keyword {
    -fx-fill: #F92672;
    -fx-font-weight: bold;
}

.styled-text-area .semicolon {
    -fx-font-weight: bold;
}

.styled-text-area .paren {
    -fx-font-weight: bold;
}
.styled-text-area .bracket {
    -fx-font-weight: bold;
}
.styled-text-area .brace {
    -fx-font-weight: bold;
}

.styled-text-area .string {
    -fx-fill: #E6DB74;
}

.styled-text-area .comment {
	-fx-fill: #75715E;
}
