.run-triangle {
    -fx-fill: green;
}

.stop-square {
    -fx-fill: maroon;
}

.error-label {
    -fx-background-color: mistyrose;
    -fx-border-style: solid;
    -fx-border-color: maroon;
    -fx-padding: 5;
}

.output-pane {
    -fx-font-family: monospace;
    -fx-text-fill: navy;
}

.problems-pane {
    -fx-font-family: monospace;
    -fx-text-fill: maroon;
}

.document-item {
    -fx-padding: 10;
}

.document-item:hover {
    -fx-background-color: skyblue;
    -fx-border-style: solid;
    -fx-border-color: navy;
}

.document-item .title {
    -fx-font-size: 150%;
    -fx-font-weight: bold;
}

.document-item .paper {
    -fx-fill: silver;
}

.document-item .description {
    -fx-font-family: monospaced;
    -fx-font-size: 90%;
    -fx-text-fill: gray;
}

.document-item:hover .title {
    -fx-text-fill: blue;
}

.document-item:hover .description {
    -fx-text-fill: navy;
}

.document-item:hover .paper {
    -fx-fill: white;
}

.lineno {
    -fx-fill: #f0f0f0;
    -fx-background-color: -fx-fill;
    -fx-min-width: 40;
    -fx-pref-width: 40;
    -fx-text-fill: #333;
}

.styled-text-area {
    -fx-background-color: white;
}

.styled-text-area .text {
    -fx-fill: black;
}

.styled-text-area .selection {
    -fx-fill: #B5D5FF;
}

.styled-text-area .paragraph-box:has-caret {
    -fx-background-color: #F5F5F5;
}

.styled-text-area .keyword {
    -fx-font-weight: bold;
    -fx-fill: #687687;
}

.styled-text-area .string {
    -fx-fill: #036A07;
}

.styled-text-area .comment {
	-fx-fill: #4C886B;
	-fx-font-style: italic;
}
