.run-triangle {
    -fx-fill: limegreen;
    -fx-stroke: green;
}

.run-btn:hover .run-triangle {
    -fx-fill: lime;
    -fx-stroke: #00CC00;
}

.stop-square {
    -fx-fill: maroon;
}

.stop-btn:hover .stop-square {
    -fx-fill: #EE0000;
}

.error-label {
    -fx-background-color: mistyrose;
    -fx-border-style: solid;
    -fx-border-color: maroon;
    -fx-padding: 5;
}

.document-item {
    -fx-padding: 10;
}

.document-item:hover {
    -fx-background-color: skyblue;
}

.document-item .title {
    -fx-font-size: 150%;
    -fx-font-weight: bold;
}

.document-item .paper {
    -fx-fill: silver;
}

.document-item .description {
    -fx-font-family: monospaced;
    -fx-font-size: 90%;
    -fx-text-fill: gray;
}

.document-item:hover .title {
    -fx-text-fill: blue;
}

.document-item:hover .description {
    -fx-text-fill: navy;
}

.document-item:hover .paper {
    -fx-fill: white;
}

.notebook .cells {
    -fx-background-color: ivory;
    -fx-padding: 10 65 10 65;
}

.notebook .cell {
    -fx-border-style: solid;
    -fx-border-color: gray;
    -fx-background-color: ivory;
    -fx-padding: 3;
}

.notebook .cell:active {
    -fx-border-style: solid;
    -fx-border-color: navy;
    -fx-background-color: ivory;
    -fx-padding: 3;
}

.notebook .styled-text-area {
    -fx-border-style: solid;
    -fx-border-color: silver;
}

.notebook .output {
    -fx-padding: 10;
    -fx-font-family: monospace;
    -fx-text-fill: navy;
}

.notebook .error {
    -fx-padding: 10;
    -fx-font-family: monospace;
    -fx-text-fill: #CC0000;
}

.navigator-text {
    -fx-background-color: #DDD, #EEE;
    -fx-text-fill: #777;
}

.navigator-text:hover {
    -fx-background-color: #CCC, white;
    -fx-text-fill: black;
}

.navigator-text:focused {
    -fx-background-color: #039ED3, white;
    -fx-text-fill: black;
    -fx-faint-focus-color: #039ED322;
}

.download-text-btn {
    -fx-background-color: rgba(150, 150, 150, 0.05);
}

.download-text-btn * {
    -fx-stroke: gray;
}

.download-text-btn:hover {
    -fx-background-color: #CCC, rgba(150, 150, 150, 0.25);
}

.download-text-btn:hover * {
    -fx-stroke: black;
}

.delete-btn {
    -fx-background-color: rgba(150, 150, 150, 0.625);
}

.delete-btn * {
    -fx-stroke: white;
}

.delete-btn:hover {
    -fx-background-color: black, black;
}

.delete-btn:hover * {
    -fx-stroke: white;
}

.search-field {
    -fx-background-image: url('../resources/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-padding: 0.33333em 0.33333em 0.33333em 2.0em;
}

.lineno {
    -fx-fill: gold;
    -fx-background-color: -fx-fill;
    -fx-min-width: 40;
    -fx-pref-width: 40;
    -fx-font-style: italic;
    -fx-text-fill: #4A1100;
}

.output-pane {
    -fx-font-family: monospace;
    -fx-text-fill: navy;
}

.problems-pane {
    -fx-font-family: monospace;
    -fx-text-fill: maroon;
}

.styled-text-area {
    -fx-background-color: white;
}

.styled-text-area .text {
    -fx-fill: black;
}

.styled-text-area .paragraph-box:has-caret {
//    -fx-background-color: #F9F3EE;
}

.styled-text-area .scope {
    -fx-highlight-fill: #F9F3EE;
    -fx-opacity: 0.75;
}

.styled-text-area .line-highlighter {
    -fx-highlight-fill: #F9F3EE;
    -fx-opacity: 0.25;
}

.styled-text-area .keyword {
    -fx-fill: #0033AA;
    -fx-font-weight: bold;
}

.styled-text-area .def-keyword {
    -fx-fill: #0066BB;
    -fx-font-weight: bold;
}

.styled-text-area .def-name {
    -fx-fill: #006699;
}

.styled-text-area .name-call {
    -fx-fill: #006699;
    //-rtfx-background-color: yellow;
}

.styled-text-area .name-arg {
    -fx-fill: #007733;
}

.styled-text-area .name-arg-keyword {
    -fx-fill: #007733;
}

.styled-text-area .name-store {
    -fx-fill: #330066;
}

.styled-text-area .module-name {
    -fx-font-style: italic;
}

.styled-text-area .semicolon {
    -fx-font-weight: bold;
}

.styled-text-area .colon {
    -fx-font-weight: bold;
}

.styled-text-area .paren {
    -fx-fill: #003366;
    -fx-font-weight: bold;
}

.styled-text-area .bracket {
    -fx-fill: #003366;
    -fx-font-weight: bold;
}

.styled-text-area .brace {
    -fx-fill: #003366;
    -fx-font-weight: bold;
}

.styled-text-area .builtin {
    -fx-fill: purple;
}

.styled-text-area .string {
    -fx-fill: #884400;
}

.styled-text-area .string-escape {
    -fx-fill: #AA0000;
}

.styled-text-area .number {
    -fx-fill: #663300;
}

.styled-text-area .annotation {
	-fx-fill: #667777;
    -fx-font-style: italic;
}

.styled-text-area .comment {
    //-fx-font-family: sans-serif;
	-fx-fill: #336633;
    -fx-font-style: italic;
}
