.run-triangle {
    -fx-fill: green;
}

.stop-square {
    -fx-fill: maroon;
}

.error-label {
    -fx-background-color: mistyrose;
    -fx-border-style: solid;
    -fx-border-color: maroon;
    -fx-padding: 5;
}

.output-pane {
    -fx-font-family: monospace;
    -fx-text-fill: #F8F8F8;
    -fx-background-color: #141414;
}

.output-pane .content {
    -fx-background-color: #141414;
}

.problems-pane {
    -fx-font-family: monospace;
    -fx-text-fill: #FF3333;
    -fx-background-color: #141414;
}

.problems-pane .content {
    -fx-background-color: #141414;
}

.document-item {
    -fx-padding: 10;
}

.document-item:hover {
    -fx-background-color: skyblue;
    -fx-border-style: solid;
    -fx-border-color: navy;
}

.document-item .title {
    -fx-font-size: 150%;
    -fx-font-weight: bold;
}

.document-item .paper {
    -fx-fill: silver;
}

.document-item .description {
    -fx-font-family: monospaced;
    -fx-font-size: 90%;
    -fx-text-fill: gray;
}

.document-item:hover .title {
    -fx-text-fill: blue;
}

.document-item:hover .description {
    -fx-text-fill: navy;
}

.document-item:hover .paper {
    -fx-fill: white;
}

.lineno {
    -fx-fill: #232323;
    -fx-background-color: -fx-fill;
    -fx-min-width: 40;
    -fx-pref-width: 40;
    -fx-text-fill: #E2E2E2;
}

.styled-text-area {
    -fx-background-color: #141414;
}

.styled-text-area .text {
    -fx-fill: #F8F8F8;
}

.styled-text-area .caret {
    -fx-stroke: #A7A7A7;
}

.styled-text-area .selection {
    -fx-fill: #3C4043;
}

.styled-text-area .paragraph-box:has-caret {
    -fx-background-color: #080808;
}

.styled-text-area .keyword {
    -fx-fill: #CDA869;
}

.styled-text-area .string {
    -fx-fill: #8F9D6A;
}

.styled-text-area .comment {
	-fx-fill: #5F5A60;
	-fx-font-style: italic;
}
