.run-triangle {
    -fx-fill: green;
}

.stop-square {
    -fx-fill: maroon;
}

.error-label {
    -fx-background-color: mistyrose;
    -fx-border-style: solid;
    -fx-border-color: maroon;
    -fx-padding: 5;
}

.output-pane {
    -fx-font-family: monospace;
    -fx-text-fill: #F8F8F8;
    -fx-background-color: #141414;
}

.output-pane .content {
    -fx-background-color: #141414;
}

.problems-pane {
    -fx-font-family: monospace;
    -fx-text-fill: #FF3333;
    -fx-background-color: #141414;
}

.problems-pane .content {
    -fx-background-color: #141414;
}

.document-item {
    -fx-padding: 10;
}

.document-item:hover {
    -fx-background-color: skyblue;
    -fx-border-style: solid;
    -fx-border-color: navy;
}

.document-item .title {
    -fx-font-size: 150%;
    -fx-font-weight: bold;
}

.document-item .paper {
    -fx-fill: silver;
}

.document-item .description {
    -fx-font-family: monospaced;
    -fx-font-size: 90%;
    -fx-text-fill: gray;
}

.document-item:hover .title {
    -fx-text-fill: blue;
}

.document-item:hover .description {
    -fx-text-fill: navy;
}

.document-item:hover .paper {
    -fx-fill: white;
}

.notebook .cells {
    -fx-background-color: #141414;
    -fx-padding: 10 65 10 65;
}

.notebook .cell {
    -fx-border-style: solid;
    -fx-border-color: gray;
    -fx-background-color: #3A3A3A;
    -fx-padding: 3;
}

.notebook .cell:active {
    -fx-border-style: solid;
    -fx-border-color: #FFFF99;
    -fx-background-color: #3A3A3A;
    -fx-padding: 3;
}

.notebook .styled-text-area {
    -fx-border-style: solid;
    -fx-border-color: black;
}

.notebook .output {
    -fx-padding: 10;
    -fx-font-family: monospace;
    -fx-text-fill: white;
}

.notebook .error {
    -fx-padding: 10;
    -fx-font-family: monospace;
    -fx-text-fill: #FF6666;
}

.navigator-text {
    -fx-background-color: #CCC, #F7F7F7;
    -fx-text-fill: #777;
}

.navigator-text:focused {
    -fx-background-color: #039ED3, white;
    -fx-text-fill: black;
    -fx-faint-focus-color: #039ED322;
}

.download-text-btn {
    -fx-background-color: rgba(150, 150, 150, 0.05);
}

.download-text-btn * {
    -fx-stroke: gray;
}

.download-text-btn:hover {
    -fx-background-color: #CCC, rgba(150, 150, 150, 0.25);
}

.download-text-btn:hover * {
    -fx-stroke: black;
}

.lineno {
    -fx-fill: #232323;
    -fx-background-color: -fx-fill;
    -fx-min-width: 40;
    -fx-pref-width: 40;
    -fx-text-fill: #E2E2E2;
}

.styled-text-area {
    -fx-background-color: #141414;
}

.styled-text-area .text {
    -fx-fill: #F8F8F8;
}

.styled-text-area .caret {
    -fx-stroke: #A7A7A7;
}

.styled-text-area .selection {
    -fx-fill: #3C4043;
}

.styled-text-area .paragraph-box:has-caret {
    -fx-background-color: #080808;
}

.styled-text-area .keyword {
    -fx-fill: #CDA869;
}

.styled-text-area .string {
    -fx-fill: #8F9D6A;
}

.styled-text-area .comment {
	-fx-fill: #5F5A60;
	-fx-font-style: italic;
}
